/* Color Name */
h1{
    color: violet;
}
h5{
    color: yellow;
}
h6{
    color: orange;
}
p{
  color: tomato;
}
/* Hexadecimal*/
h2{
   color: #4b0087;
}
/* RGB*/
h3{
    color: rgb(8, 4, 104)
}
/* RGBA */
h4{
    color: rgba(5, 149, 53, 0.6);
}

/* Background Colors */
h1{
    background-color: tomato;
}
h4{
    background-color: green;
}
h2{
    background-color: darkorange;
}
h3{
    background-color: yellow;
}
h5{
    background-color: blue;
}
h6{
    background-color: indigo;
}
p{
    background-color: violet;
}
/* Bouns */
li.one{
    color: hotpink;
    border-style: solid;
    border-width: 5px;
    border-color: green;
}
li.three{
    background-color: peachpuff;
    border-style: solid;
    border-width: 5px;
    border-color: green;
}