/* Color Name */
h1{
    color: violet;
    background-color: tomato;
}
h5{
    color: yellow;
    background-color: blue;
}
h6{
    color: orange;
    background-color: indigo;
}
p{
    color: tomato;
    background-color: violet;
}
/* Hexadecimal*/
h2{
    color: #4b0087;
    background-color: darkorange;
}
/* RGB*/
h3{
    color: rgb(8, 4, 104)
    background-color: yellow;
}
/* RGBA */
h4{
    color: rgba(5, 149, 53, 0.6);
    background-color: green;
}

/* Bouns */
li.one{
    color: hotpink;
    border-style: solid;
    border-width: 5px;
    border-color: green;
}
li.three{
    background-color: peachpuff;
    border-style: solid;
    border-width: 5px;
    border-color: green;
}